@font-face {
	font-family: Klavika;
	src: url('/KlavikaBold-Plain.ttf'),
}

html {
	background: #000;
	color: #046595;
	font-family: 'Klavika';
}

body {
	background: #000;
	color: #046595;
	font-family: 'Klavika';
}

